﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Dashboard.aspx.cs" Inherits="ASPWbAppliation.DotnetFramework.Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <br />
            <br />
            <br />
            Welcome Home!&nbsp;&nbsp;
            <asp:Label ID="lblUserName" runat="server" Text="Label"></asp:Label>
        </div>
    </form>
</body>
</html>
